@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

$background-color: #1F2024;
$font__title: 'Inter', Arial, sans-serif;
$nav-height: 100px;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
}

.background {
  width: 100%;
  max-width: 1600px;
  position: relative;
  top: -$nav-height;
  margin: auto;
  height: 600px;
  background-size: cover;
  color: white;

  .layout {
    padding-top: $nav-height;
  }

  @media only screen and (max-width: 800px){
    .layout {
      padding-top: 160px;
    }
  }

}

.background-overlay {
  width: 100%;
  position: absolute;
  margin: auto;
  height: 600px;
  background: rgb(31,32,36);
  background: linear-gradient(180deg, rgba(31,32,36,0.5970588919161415) 0%, rgba(31,32,36,1) 80%, rgba(31,32,36,1) 100%);
}


.layout {
  position: relative;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}

.layout__title {
  $font-stack: 'Inter', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 48px;
  margin-bottom: 12px;
}