@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

$background-color: #1F2024;
$font__title: 'Inter', Arial, sans-serif;
$nav-height: 100px;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

main {
  min-height: 600px;
}

@media only screen and (max-width: 800px){
  .layout {
    padding-top: 60px;
  }
}

a {
  text-decoration: none;
  outline: none;
  color: white;
}

.background {
  width: 100%;
  max-width: 1600px;
  position: absolute;
  top: 0;
  margin: auto;
  height: 600px;
  background-size: cover;
  background-position-y: 0;
  background-position-x: center;
}

.background-overlay {
  width: 100%;
  position: absolute;
  margin: auto;
  height: 600px;
  background: rgb(31,32,36);
  background: linear-gradient(180deg, rgba(31,32,36,0.5970588919161415) 0%, rgba(31,32,36,1) 80%, rgba(31,32,36,1) 100%);
}


.layout {
  position: relative;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}

.layout__title {
  $font-stack: 'Inter', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 48px;
  margin-bottom: 12px;
}

.spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner--search {
  margin-top: 120px;
}

.spinner--gamelist {
  margin-top: 24px;
}