@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

$background-color: #1F2024;
$font__title: 'Inter', Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

a {
  text-decoration: none;
  outline: none;
  color: white;
}

.layout {
  position: relative;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}

.layout__title {
  $font-stack: 'Inter', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 48px;
  margin-bottom: 12px;
}