@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

$background-color: #1F2024;
$font__title: 'Inter', Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

.layout {
  position: relative;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
}

@media only screen and (max-width: 800px) {
  .app {
    width: 100vw;
  }
}