.footer__background {
  background: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  margin-top: 40px;
  padding: 40px 0;
}

.footer__leftcol {
  display: flex;
  align-items: center;
}

.footer__logo {
  display: inline;
  color: #888;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 2.4rem;
  transition: all 0.2s ease;
  margin-right: 24px;

  &:hover {
    color: #ddd;
  }
}

.footer__github {
  display: inline;
  color: #888;
  transition: all 0.2s ease;

  &:hover {
    color: #ddd;
  }
}

.footer__rawg {
  color: #888;
  transition: all 0.2s ease;

  &:hover {
    color: #ddd;
  }
}