@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');

$background-color: rgba(31,32,36);
$font-stack: 'Inter', Arial, sans-serif;
$nav-height: 100px;

.game__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $font-stack;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 48px;
  margin-bottom: 24px;
}

.game__toggle-buttons {
  display: flex;
  align-items: center;
  padding: 0 12px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.game__stars {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.game__desc {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 24px;
}

.game__showcase {
  margin-bottom: 24px;
}

.votes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.votes__column {
  display: flex;
  align-items: center;

  p {
    font-family: $font-stack;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 12px;
  }

}