$showcase-max-height: 400px;

.showcase {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.showcase__active {
  border-radius: 6px;
  max-height: $showcase-max-height;

  video {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }

}

.showcase__alternate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 12px;
  gap: 12px;
  max-height: 400px;
}

.showcase__button {

  max-height: $showcase-max-height / 2;
  opacity: 0.5;

  transition: all 0.4s ease; 
  background: black;
  cursor: pointer;
  
  &:hover {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    min-height: 180px;
  }

}

@media only screen and (max-width: 800px) {
  .showcase {
    grid-template-columns: 1fr;
  }

  .showcase__alternate { 
    margin-top: 12px
  }
}