@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');

$background-color: rgba(31,32,36);
$font-stack: 'Inter', Arial, sans-serif;
$nav-height: 100px;

.game__title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $font-stack;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 48px;
  margin-bottom: 24px;
  color: white;
}

.game__toggle-buttons {
  display: flex;
  align-items: center;
  padding: 0 12px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.game__stars {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: white;
}

.game__desc {
  font-family: $font-stack;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 24px;
}

.game__showcase {
  margin-bottom: 24px;
}

.game__info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  color: white;
}

.game__description {
  padding-right: 48px;
}

@media only screen and (max-width:800px) {
  .game__info {
    display: flex;
    flex-direction: column;
  }

  .game__description {
    padding: 0;
  }

  .game__toggle-buttons {
    margin-top: 12px;
    justify-self: center;
  }
  
}

.game__rightcol {
  display: flex;
  flex-direction: column;
}

.website {
  display: flex;
  align-items: center;
}

.website__link {
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}

.website__icon {
  padding: 4px;
  margin-right: 4px;
}

.platform {
  display: flex;
  align-items: center;
}

.platform__icon {
  padding: 4px;
  margin-right: 4px;
}