@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');

$item-height: 40px;
$nav-red: #66130a;

.nav {
  width: 100%;
  height: 100px;
}

.nav__layout {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white
}

.nav__logo {
  position: relative;
  top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 240px;
  background: $nav-red;
  color: white;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 2.4rem;
  transition: all 0.2s ease;

  &:hover {
    top: 0px;
  }
}

.nav__right-col {
  display: flex;
}

.nav__searchbar {
  margin-right: 12px;

  input {
    height: $item-height;
    border: none;
    border-radius: 6px;
    padding: 4px 16px;
    outline: none;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1rem;
    color: white;

    background: rgba(255, 255, 255, 0.25);

    transition: all 0.2s ease;

    &:focus {
      background: rgba(255, 255, 255, 0.8);
      color: #222;
      padding-right: 48px;
    }
  }
}

.nav__user {
  display: flex;
  align-items: center;
}

.nav__display-name {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav__profile-image {
  margin-right: 12px;

  img {
    width: $item-height;
    height: $item-height;
    border-radius: 20px;
  }
}

.nav__signin {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 36px;
  border-radius: 6px;
  color: #444;
  height: $item-height;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease;

  &:hover {
    background: $nav-red;
    color: white;
  }
}

form {
  .hidden {
    display: none;
  }
}