@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.nav {
  width: 100%;
  height: 100px;
}

.nav__layout {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 240px;
  background: #66130a;
  color: white;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 2.4rem;
}