$dark-red: #66130a;

.blank-list__area {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: 2px $dark-red dashed;
  color: #ccc;
}