@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");
.nav {
  width: 100%;
  height: 100px;
}

.nav__layout {
  width: 80vw;
  max-width: 1200px;
  margin: auto;
  position: relative;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 800px) {
  .nav__layout {
    flex-direction: column;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -12px;
  transition: all 0.2s ease;
  height: 100px;
  width: 240px;
  background: #66130a;
}
.nav__logo:hover {
  top: 0px;
  opacity: 0.8;
}

.nav__upper-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 2.4rem;
  text-decoration: underline;
}

.nav__lower-triangle {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-top: 24px solid #66130a;
}

.nav__right-col {
  display: flex;
}

@media only screen and (max-width: 800px) {
  .nav__right-col {
    margin: 24px 0;
  }
}
.nav__searchbar {
  margin-right: 12px;
}
.nav__searchbar input {
  height: 40px;
  border: none;
  border-radius: 6px;
  padding: 4px 16px;
  outline: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  transition: all 0.2s ease;
}
.nav__searchbar input:focus {
  background: rgba(255, 255, 255, 0.8);
  color: #222;
  padding-right: 48px;
}
.nav__searchbar input:invalid {
  -moz-box-shadow: none;
  box-shadow: none;
}
@media only screen and (max-width: 800px) {
  .nav__searchbar input {
    width: 160px;
  }
  .nav__searchbar input:focus {
    padding-right: 16px;
  }
}

.nav__user {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.nav__user:hover {
  background: rgba(0, 0, 0, 0.4);
}

.nav__display-name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .nav__display-name {
    display: none;
  }
}
.nav__profile-image {
  margin-right: 12px;
}
.nav__profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.nav__signin {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 36px;
  border-radius: 6px;
  color: #444;
  height: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease;
}
.nav__signin:hover {
  background: #66130a;
  color: white;
}

.nav__dropdown {
  position: absolute;
  right: 0;
  top: 60px;
  background: white;
  width: 180px;
  border-radius: 6px;
  overflow: hidden;
}

.nav__dropdown-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #444;
  min-height: 40px;
  padding: 6px 18px;
  transition: all 0.2s ease;
}
.nav__dropdown-link:hover {
  background: #66130a;
  color: white;
}

form .hidden {
  display: none;
}

/*# sourceMappingURL=Navigation.css.map */
